<div xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="True">

  <p py:if="c.error">${c.error}</p>

  <py:if test="not c.plotkit">
  <div style="margin: 2em;">
    <div id="placeholder" style="width:640px;height:400px;"></div>
  </div>

  <script type="text/javascript">
  function drawPlot() {
    // selecting datasets code based on
    // http://people.iola.dk/olau/flot/examples/turning-series.html
    all_datasets = {};
    <py:for each="name, dataset in c.datasets">
      all_datasets["${name}"] = {
        "label": "${name}",
        "data": ${dataset}
      }
    </py:for>

    datasets_to_plot = []
    $.each(all_datasets, function(key,val) {
      datasets_to_plot.push(val);
    });

    var options = {
      <py:if test="c.xmin">
        xaxis: { min: ${c.xmin}},
      </py:if>
    };

    $.plot($("#placeholder"), datasets_to_plot, options);
  }
  $(document).ready(drawPlot);
  </script>

  </py:if>

  <py:if test="c.plotkit">

  <xi:include href="../plotkit.html" />
  
  <script type="text/javascript">
  function drawPlot() {
      var options = { "xOriginIsZero" : false };
      var render_options = { "shouldFill" : false, "axisLabelFontSize" : 12, "axisLabelWidth" : 60, "strokeColor" : Color.blackColor(), "strokeWidth" : 1.0 };
      // hack for Render to get rid of line to 0 at end of chart by setting right to -1
      render_options.padding = {left: 30, right: -1, top: 10, bottom: 10} 
      var layout = new PlotKit.Layout("${c.chart_type}", options);
      // layout.addDatasetFromTable("datatable", $("table_1"));
      datasets = {};
      <py:for each="name, dataset in c.datasets">
      datasets["${name}"] = ${dataset};
      </py:for>

      <py:for each="name, dataset in c.datasets">
      layout.addDataset("${name}", ${dataset});
      </py:for>

      layout.evaluate();
      layout.evaluate();
      var canvas = MochiKit.DOM.getElement("plot");
      var plotter = new PlotKit.CanvasRenderer(canvas, layout, render_options);
      plotter.render();
  }
  MochiKit.DOM.addLoadEvent(drawPlot);
  </script>

  <div style="margin: 2em;">
    <canvas id="plot" height="400" width="640"></canvas>
  </div>

  </py:if><!-- / if c.plotkit -->

</div>
