<div xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="True">

  <xi:include href="../plotkit.html" />
  
  <script type="text/javascript">
  function drawPlot() {
      var options = { "xOriginIsZero" : false };
      var render_options = { "shouldFill" : false, "axisLabelFontSize" : 12, "axisLabelWidth" : 60, "strokeColor" : Color.blackColor(), "strokeWidth" : 1.0 };
      // hack for Render to get rid of line to 0 at end of chart by setting right to -1
      render_options.padding = {left: 30, right: -1, top: 10, bottom: 10} 
      var layout = new PlotKit.Layout("${c.chart_type}", options);
      // layout.addDatasetFromTable("datatable", $("table_1"));
      datasets = {};
      <py:for each="name, dataset in c.datasets">
      datasets["${name}"] = ${dataset};
      </py:for>

      <py:for each="name in c.names">
      layout.addDataset("${name}", datasets["${name}"]);
      </py:for>

      layout.evaluate();
      layout.evaluate();
      var canvas = MochiKit.DOM.getElement("plot");
      var plotter = new PlotKit.CanvasRenderer(canvas, layout, render_options);
      plotter.render();
  }
  MochiKit.DOM.addLoadEvent(drawPlot);
  </script>

  <p py:if="c.error">${c.error}</p>

  <div style="margin: 2em;">
    <canvas id="plot" height="400" width="640"></canvas>
  </div>
</div>
