<div xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="True">

  <xi:include href="../plotkit.html" />
  
  <script type="text/javascript">
  function drawPlot() {
      var options = { "xOriginIsZero" : false}
      var layout = new PlotKit.Layout("${c.chart_type}", options);
      // layout.addDatasetFromTable("datatable", $("table_1"));
      datasets = {};
      <py:for each="name, dataset in c.datasets">
      datasets["${name}"] = ${dataset};
      </py:for>

      <py:for each="name in c.names">
      layout.addDataset("${name}", datasets["${name}"]);
      </py:for>

      layout.evaluate();
      layout.evaluate();
      var canvas = MochiKit.DOM.getElement("plot");
      var plotter = new PlotKit.SweetCanvasRenderer(canvas, layout, options);
      plotter.render();
  }
  MochiKit.DOM.addLoadEvent(drawPlot);
  </script>

  <p py:if="c.error">${c.error}</p>

  <div style="margin: 2em;">
    <canvas id="plot" height="500" width="500"></canvas>
  </div>
</div>
