<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Current Value Calculator</py:def>

  <div py:match="content">
  <p py:if="errorMessage">
    There was an error. Details: ${errorMessage}
  </p>
  <form action="${c.ownPath}" method="GET">
		Year: <input name="year" value="${year}" />
		<br />
		<input type="submit" value="Get Current Value" />
	</form>
	<p>
			Value of one pound from ${c.year} in 2002 was: ${c.value}
	</p>
  </div>

  <xi:include href="layout.html" />
</html>
