<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
		<title>Open Economics - ${page_title()}</title>

		<link rel="stylesheet" href="/css/master.css" title="full master" type="text/css" media="screen, projection" />
		<link rel="alternative stylesheet" href="/css/text_only.css" title="text only" type="text/css" media="print, screen, projection" />

    <!--[if IE]><script language="javascript" type="text/javascript" src="/bvr/flot-0.5/excanvas.pack.js"></script><![endif]-->
    <script type="text/javascript" src="/bvr/jquery-1.2.6.min.js">//pointless jscript comment</script>
    <script type="text/javascript" src="/bvr/flot-0.5/jquery.flot.js">//pointless jscript comment</script>

    <!-- <xi:include href="plotkit.html" /> -->

    <py:if test="defined('page_specific_css')">
    ${page_specific_css()}
    </py:if>
    <py:if test="defined('page_specific_scripts')">
    ${page_specific_scripts()}
    </py:if>
  </head>
  <body>
    <div id="airlock">
      <div id="header">
        <h1>
					${page_title()}
        </h1>
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/store/">Data Store</a></li>
					<li><a href="/current_value/" title="Current Value Calculator">Current Value</a></li>
					<li><a href="/plot/" title="Plotting Web Service">Plot</a></li>
					<li><a href="/mdg/" title="Millenium Development Goals">MDG</a></li>
					<li><a href="/wdmmg/" title="Where Does My Money Go?">WDMMG</a></li>
				</ul>
      </div>
      
      <div id="content">
        <content>Default content - this will be replaced</content>
      </div>
      
      <div id="footer">
        <p>
          <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.1">XHTML</a>
          | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
          | <a href="http://www.okfn.org/econ/">Project Home Page</a>
          | <a href="mailto:info@okfn.org">Contact Us</a>
        </p>
        <p>
          <img style="margin-bottom: -5px;" src="http://m.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" /> An <a href="http://www.okfn.org/">Open Knowledge Foundation</a> Project
        </p>
        <p>
          (c) Open Knowledge Foundation
          | <a href="http://creativecommons.org/licenses/by-sa/3.0/">Licensed under CC by-sa 3.0 (all)</a>
          | <a href="http://www.opendefinition.org/1.0/"><img
              style="border: none; margin-bottom: -4px;"
              src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png"
              alt="This Material is Open Knowledge" /></a>
        </p>
      </div>
    </div>
  </body>
</html>
