<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
		<title>Open Economics - ${page_title}</title>

		<link rel="stylesheet" href="/css/master.css" title="full master" type="text/css" media="screen, projection" />
		<link rel="alternative stylesheet" href="/styles/text_only.css" title="text only" type="text/css" media="print, screen, projection" />
    <!-- just so it can work locally too ... -->
		<script type="text/javascript" src="/m.okfn.org/ext/mochikit-1.3.1/MochiKit.js">//pointless jscript comment</script>
		<script type="text/javascript"
			src="/m.okfn.org/ext/plotkit-0.8/PlotKit_Packed.js"> //pointless jscript comment</script>

		<script type="text/javascript" src="http://m.okfn.org/ext/mochikit/MochiKit.js">//pointless jscript comment</script>
		<script type="text/javascript"
			src="http://m.okfn.org/ext/plotkit/PlotKit_Packed.js"> //pointless jscript comment</script>
		<script type="text/javascript" src="http://m.okfn.org/ext/plotkit/excanvas.js">//pointless jscript comment</script>
		${page_specific_css}
		${page_specific_scripts}
  </head>
  <body>
    <div id="airlock">
      <div id="header">
        <h1>
					${page_title}
        </h1>
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/store/">Data Store</a></li>
					<li><a href="/current_value/" title="Current Value Calculator">Current Value</a></li>
					<li><a href="/plot/" title="Plotting Web Service">Plot</a></li>
				</ul>
      </div>
      
      <div id="content">
        <content>Default content - this will be replaced</content>
      </div>
      
      <div id="footer">
        <p>
          <a href="http://www.okfn.org/econ/">Project Home Page</a> &ndash; <a href="mailto:info@okfn.org">Contact Us</a>
        </p>
        <p>
        Copyright (c) Open Knowledge Foundation 2005-7.
        <br />
        Licensed under a Creative Commons by-sa 2.0 License (US and EW)
        </p>
				<p>
					<a href="http://opendefinition.org/"><img
						src="http://m.okfn.org/images/ok_buttons/ok_90x15_blue.png"
						alt="This Material is Open Knowledge" border="0" /></a>
				</p>
      </div>
    </div>
  </body>
</html>
