<div py:strip="True" 
  xmlns:py="http://genshi.edgewall.org/">
    <!-- just so it can work locally too ... -->
    <script type="text/javascript" src="/m.okfn.org/ext/mochikit-1.3.1/MochiKit.js">//pointless jscript comment</script>
    <script type="text/javascript" src="/m.okfn.org/ext/plotkit-0.8/PlotKit_Packed.js">//pointless jscript comment</script>

    <script type="text/javascript" src="http://m.okfn.org/ext/mochikit/MochiKit.js">//pointless jscript comment</script>
    <script type="text/javascript" src="http://m.okfn.org/ext/plotkit/PlotKit_Packed.js">//pointless jscript comment</script>
    <script type="text/javascript" src="http://m.okfn.org/ext/plotkit/excanvas.js">//pointless jscript comment</script>
</div>
