<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Store Index</py:def>

  <div py:match="content">
    <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="item in c.store_index">
        <td> 
          <a href="/view?data_url=${item[2]}&amp;format=html">${item[0]}</a>
          (<a href="/view?data_url=${item[2]}&amp;format=raw">Raw</a>)
        </td>
        <td py:content="item[1]">No Title Available</td>
      </tr>
    </tbody>
    </table>
  </div>

  <xi:include href="layout.html" />
</html>
