<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Store - View</py:def>

  <div py:match="content">
    <h2>${c.pkg.title}</h2>

    <py:def function="render_value(key, value)">
      <strong>${key}: </strong>
      <py:choose>
      <py:when test="key in ['description', 'notes', 'comment']">
        ${HTML(h.markdown(value.replace('\n', '\n\n')))}
      </py:when>
      <py:when test="key == 'extras'">
        <ul>
        <li py:for="k,v in value.items()">
          ${k}: ${v}
        </li>
        </ul>
      </py:when>
      <py:otherwise>
        ${value}
      </py:otherwise>
      </py:choose>
    </py:def>

    <h3>Metadata</h3>
    <ul>
      <li py:for="key in c.pkg.metadata_keys">
      ${render_value(key, getattr(c.pkg, key))}
      </li>
    </ul>

    <h3>Data</h3>
    <ul>
      <li><a href="${c.plot_data_url}">View This Dataset (Plot and Table)</a></li>
      <li><a href="${h.url_for(action='data')}" rel="nofollow">Raw Data (csv format)</a> (Warning: may be
      very large).</li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>
