<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Millenium Development Goals - Country -
  ${c.country.name}</py:def>

  <div py:match="content">
    <h2>Country: ${c.country.name}</h2>
    <p>This country has at least one entry in <strong>${len(c.series)}
      series</strong>:</p>
    <form method="get" action="${h.url_for(action='view', id=None)}">
      ${XML(h.submit(value="Show Values"))}<br />
      <input type="hidden" name="countries" value="${c.country.code}" />
      <input type="checkbox" name="series" value="${s.code}" py:for="s in
      c.series">
      <a href="${h.url_for(action='series', id=s.code)}">${s.name}</a>
      </input>
    </form>
  </div>

  <xi:include href="../layout.html" />
</html>
