<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Millenium Development Goals - Series -
  ${c.series.code} - ${c.series.name}</py:def>

  <div py:match="content">
    <h2>Series: ${c.series.name}</h2>
    <p>This series has at least one entry for <strong>${len(c.countries)}
      countries</strong>:</p>
    <form method="get" action="${h.url_for(action='view', id=None)}">
      ${XML(h.submit(value="Show Values"))}<br />
      <input type="hidden" name="series" value="${c.series.code}" />
      <input type="checkbox" name="countries" value="${ctry.code}" py:for="ctry in c.countries">
      <a href="${h.url_for(action='country', id=ctry.code)}">${ctry.name}</a>
      <br />
      </input>
    </form>
  </div>

  <xi:include href="../layout.html" />
</html>
