.error {
  color: red;
  font-weight: bold;
}

table.metadata, table.metadata td, table.metadata th {
  border: none;
}

table.metadata td, table.metadata th {
  border-bottom: solid 1px black;
  padding: 5px;
}

table.metadata th {
  vertical-align: top;
  text-align: left;
}

#chart {
  width: 640px;
  height: 400px;
}
