<?python
layout_params['page_title'] = 'View Dataset (html)'
?>
<html py:layout="'layout.html'"
      xmlns:py="http://purl.org/kid/ns#">

	<script type="text/javascript" py:def="page_specific_scripts()">
function drawGraph() {
    var options = { "xOriginIsZero" : false}
    var layout = new PlotKit.Layout("line", options);
    layout.addDatasetFromTable("datatable", $("table_1"));
    layout.evaluate();
    var canvas = MochiKit.DOM.getElement("graph");
    var plotter = new PlotKit.SweetCanvasRenderer(canvas, layout, {});
    plotter.render();
}
MochiKit.DOM.addLoadEvent(drawGraph);
	</script>

	<div py:match="item.tag == 'content'">
		<div><canvas id="graph" height="500" width="500"></canvas></div>
		${XML(html_table)} 
	</div>
</html>
