<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  
  <py:def function="page_title">Where Does My Money Go?</py:def>

  <py:def function="page_specific_css">
  <!-- CSS Files -->
  <link type="text/css" href="http://m.okfn.org/ext/Jit/Examples/css/base.css" rel="stylesheet" />
  <link type="text/css" href="http://m.okfn.org/ext/Jit/Examples/css/Treemap.css" rel="stylesheet" />
  <link type="text/css" href="/css/master.css" rel="stylesheet" />

  <!-- JIT Library File -->
  <script language="javascript" type="text/javascript" src="http://m.okfn.org/ext/Jit/jit-yc.js"></script>
  <script language="javascript" type="text/javascript" src="/bvr/govt.js"></script>

  <style type="text/css">
    #infovis .leaf {
      background-color: #A84542;
    }

  </style>
  </py:def>

	<div py:match="content">
    <h2>${c.fig_title}</h2>

    <h3>Instructions: See amount - Hover, Zoom in - Left click, Zoom out - Right click</h3>
    <h4>
      Got a comment? <a href="http://blog.okfn.org/taxonomy/wdmmg/">Leave it on the blog</a> Want to get involved? <a href="http://www.okfn.org/contact/">Please get in touch</a>
    </h4>

    <div id="infovis"></div>    

    <p>Source: Table 5.1 of PESA. See <a href="${h.url_for(controller='wdmmg', action='index', id=None)}">home page</a> for more information.</p>
    <p>Built using <a href="http://thejit.org/">Javascript Infovis
      Toolkit</a>.</p>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    //init data
    var json = ${c.json};
    init(json);
});
</script>
	</div>

  <xi:include href="../layout.html" />
</html>

