<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Where Does My Money Go? - Home</py:def>

	<div py:match="content">
    <h1>Ever wondered where your money goes when you pay taxes &ndash; what exactly
      it gets spent on, who exactly receives it?</h1>
    <h1>We're here to help you find out</h1>

    <h3>To get started take a look at:</h3>
    <ul>
      <li><a href="${h.url_for(action='dept', id=None)}">Spending by Department</a></li>
      <li><a href="${h.url_for(action='spend', id=None)}">Total Government
        Spending</a></li>
    </ul>

    <h3>Full List of Tables</h3>
    <ul>
      <li py:for="table in c.tables">
        <a href="${h.url_for(action='table', id=table.id)}">${table.title}</a>
      </li>
    </ul>
	</div>

  <xi:include href="../layout.html" />
</html>

