<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <py:def function="page_title">Where Does My Money Go? - Home</py:def>

	<div py:match="content">
    <h1>Where Does My Money Go?</h1> 
    <h3>Ever wondered where your money goes when you pay taxes &ndash; what exactly
      it gets spent on, who exactly receives it?</h3>
    <h3>This is the place to find out:</h3>
    <ul>
      <li><a href="${h.url_for(action='spend', id=None)}">Total Government
        Spending</a></li>
      <li><a href="${h.url_for(action='dept', id=None)}">Spending by Department</a></li>
    </ul>

	</div>

  <xi:include href="../layout.html" />
</html>

